.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.935000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.927000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.935000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m3{transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-1.644573px;}
.ls4{letter-spacing:-0.405511px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.400000px;}
.ls2{letter-spacing:3.490900px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-3.490900px;}
.ws0{word-spacing:0.000000px;}
.ws2{word-spacing:1.644573px;}
._2{margin-left:-4.404000px;}
._1{margin-left:-2.956000px;}
._0{margin-left:-1.440000px;}
._4{width:2.094540px;}
._3{width:3.421082px;}
._5{width:134.922588px;}
._6{width:2766.036952px;}
.fc1{color:rgb(112,111,111);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:22.528400px;}
.fs3{font-size:27.772400px;}
.fs0{font-size:40.000000px;}
.fs1{font-size:69.818000px;}
.y0{bottom:0.000000px;}
.ye{bottom:23.915000px;}
.y10{bottom:25.650400px;}
.y11{bottom:27.245676px;}
.yf{bottom:33.987300px;}
.y1{bottom:41.094000px;}
.yd{bottom:69.440200px;}
.yc{bottom:81.440200px;}
.yb{bottom:93.440200px;}
.ya{bottom:105.440200px;}
.y9{bottom:117.440200px;}
.y8{bottom:141.440200px;}
.y7{bottom:153.440200px;}
.y6{bottom:165.440200px;}
.y5{bottom:177.440200px;}
.y4{bottom:189.440200px;}
.y3{bottom:359.938100px;}
.y2{bottom:701.521200px;}
.h6{height:16.401291px;}
.h7{height:20.246188px;}
.h3{height:29.160000px;}
.h4{height:29.240000px;}
.h5{height:50.829413px;}
.h2{height:695.914000px;}
.h1{height:737.000000px;}
.h0{height:737.008000px;}
.w2{width:566.929000px;}
.w0{width:1133.860000px;}
.w1{width:1134.000000px;}
.x0{left:0.000000px;}
.x1{left:28.346500px;}
.x5{left:59.305700px;}
.x7{left:227.690900px;}
.x6{left:320.714800px;}
.x9{left:414.198200px;}
.x4{left:521.902900px;}
.x3{left:566.929000px;}
.xa{left:592.797400px;}
.x2{left:797.952800px;}
.x8{left:988.297797px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-2.192764pt;}
.ls4{letter-spacing:-0.540682pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.533333pt;}
.ls2{letter-spacing:4.654533pt;}
.ws1{word-spacing:-4.654533pt;}
.ws0{word-spacing:0.000000pt;}
.ws2{word-spacing:2.192764pt;}
._2{margin-left:-5.872000pt;}
._1{margin-left:-3.941333pt;}
._0{margin-left:-1.920000pt;}
._4{width:2.792720pt;}
._3{width:4.561443pt;}
._5{width:179.896783pt;}
._6{width:3688.049269pt;}
.fs2{font-size:30.037867pt;}
.fs3{font-size:37.029867pt;}
.fs0{font-size:53.333333pt;}
.fs1{font-size:93.090667pt;}
.y0{bottom:0.000000pt;}
.ye{bottom:31.886667pt;}
.y10{bottom:34.200533pt;}
.y11{bottom:36.327568pt;}
.yf{bottom:45.316400pt;}
.y1{bottom:54.792000pt;}
.yd{bottom:92.586933pt;}
.yc{bottom:108.586933pt;}
.yb{bottom:124.586933pt;}
.ya{bottom:140.586933pt;}
.y9{bottom:156.586933pt;}
.y8{bottom:188.586933pt;}
.y7{bottom:204.586933pt;}
.y6{bottom:220.586933pt;}
.y5{bottom:236.586933pt;}
.y4{bottom:252.586933pt;}
.y3{bottom:479.917467pt;}
.y2{bottom:935.361600pt;}
.h6{height:21.868388pt;}
.h7{height:26.994917pt;}
.h3{height:38.880000pt;}
.h4{height:38.986667pt;}
.h5{height:67.772551pt;}
.h2{height:927.885333pt;}
.h1{height:982.666667pt;}
.h0{height:982.677333pt;}
.w2{width:755.905333pt;}
.w0{width:1511.813333pt;}
.w1{width:1512.000000pt;}
.x0{left:0.000000pt;}
.x1{left:37.795333pt;}
.x5{left:79.074267pt;}
.x7{left:303.587867pt;}
.x6{left:427.619733pt;}
.x9{left:552.264267pt;}
.x4{left:695.870533pt;}
.x3{left:755.905333pt;}
.xa{left:790.396533pt;}
.x2{left:1063.937067pt;}
.x8{left:1317.730395pt;}
}
